# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore temporary or log files
*.log
*.tmp

# Ignore IDE/Editor-specific files
.vscode/
*.swp
